@mixin flex-sbtw(){
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-cnt(){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-cnt-start(){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-start(){
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-start-cnt(){
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column-start(){
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-column-start-ctn(){
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column-cnt(){
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}